@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Add these styles in your CSS file */
.tham {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tham-active .tham-inner {
  transform: rotate(45deg);
}

.tham-inner {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.tham-inner::before,
.tham-inner::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.tham-inner::before {
  top: -8px;
}

.tham-inner::after {
  top: 8px;
}

.tham-active .tham-inner::before {
  transform: rotate(90deg);
  top: 0;
}

.tham-active .tham-inner::after {
  transform: rotate(90deg);
  top: 0;
}
